<!--
  Generated template for the GestionTurnosPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="primary">
    <ion-title>Gestion Turnos</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>

  <ion-list>
    <ion-item>
      <ion-label>Sucursales</ion-label>
      <ion-select  [(ngModel)]="sucursalSeleccionada">
        <ion-option *ngFor="let sucursal of sucursales$" (ionSelect)="seleccionSucursal($event)" > {{sucursal.nombre}}</ion-option>
      </ion-select>
    </ion-item>
  </ion-list>

  <ion-list *ngIf="sucursalSeleccionada">
    <ion-item>
      <ion-label>Franjas</ion-label>
      <ion-select  [(ngModel)]="franjaSeleccionada">
        <ion-option *ngFor="let franja of franjas$" (ionSelect)="mostrarInfo($event)" [value]="franja">{{franja.inicio}}Hrs - {{franja.fin}}Hrs </ion-option>
      </ion-select>
    </ion-item>
  </ion-list>

  <div *ngIf ="franjaSeleccionada">
    <ul>
        <li><div class="info"> En tiempo total de permanecia en el banco será aproximadamente de {{tiempoEnBanco}} minutos.</div></li>
        <li><div class="info"> Generalmente las personas esperan a ser atendidas {{tiempoEspera}} segundos.</div></li>
        <li><div class="info"> Usualmente hay {{PersonasEnFila}} personas esperando ser atendidos.</div></li>
        <li><div class="info"> La probabilidad de que sea atendido inmediatamente es {{probAtencionInmediata}} %.</div>    </li>
      </ul>      

  </div>


<button ion-button (click)="reservarTurno()" >Reservar Turno</button>
<h3>{{mensajeAsignacion}}</h3>

</ion-content>
