<!--
  Generated template for the GestionTurnosPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
	<ion-navbar color="primary">
		<ion-title>Gestion Turnos</ion-title>
	</ion-navbar>
</ion-header>


<ion-content padding>

  <ion-item>
    <ion-label>Go</ion-label>
    <ion-radio checked="true" value="go"></ion-radio>
  </ion-item>

</ion-content>
